.maincon{
    height: 100vh;
    position: relative;
}
.box1{
    position: fixed;
    background-color:#FAECD6;
    transform: translate(-50%, -50%);
    height: 19rem;
    width: 25rem;
    border-radius: 10px;
    top: 50%;
    left: 68%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}